.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 0.8vmin);
  color: black;
}

a:link,
.breadcrumb-link {
  text-decoration: none;
}

.breadcrumb-link:visited {
  color: black;
}

a:visited {
  text-decoration: none;
  color: purple;
}
